---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Ongoing</h2>
    <ul>
        <li>HYWAY (European Commission): investigating the climate impacts of a hydrogen economy</li>
        <li>WorldTrans (European Commission): developing a transparent, feedback-enabled integrated assessment model</li>
        <li>Climate Scenarios Compass Initiative (Bezos Earth Fund): co-development and regular updating of climate scenarios</li>
    </ul>

    <h2>Completed</h2>
    <ul>
        <li>From emissions to climate impacts and back again (UK Natural Environment Research Council)</li>
    </ul>
</BaseLayout>