---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
---
<BaseLayout pageTitle={pageTitle}>
    <h3>Ongoing</h3>
    <ul>
        <li><a href="https://www.hywayhorizon.eu">HYWAY</a> (European Commission): investigating the climate impacts of a hydrogen economy</li>
        <li><a href="https://worldtrans-horizon.eu">WorldTrans</a> (European Commission): developing a transparent, feedback-enabled integrated assessment model</li>
        <!-- <li>Climate Scenarios Compass Initiative (Bezos Earth Fund): co-development and regular updating of climate scenarios</li> -->
    </ul>

    <h3>Completed</h3>
    <ul>
        <li>From 2020 to 2024 I was a NERC-IIASA collaborative research fellow, funded by the UK Natural Environment Research Council, to continue to develop state-of-the-art climate emulators and integrate climate impacts into integrated assessment models.</li>
    </ul>
</BaseLayout>