---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Publications";
---

<BaseLayout pageTitle={pageTitle}>
    <h3>Intergovernmental Panel on Climate Change contributions</h3>
        <h4>[Coordinating] Lead Author</h4>
            <ul>
                <li>AR6 Working Group 1 Annex III: Tables of Historical and Projected Well-mixed Greenhouse Gas Mixing Ratios and Effective Radiative Forcing of All Climate Forcers (2021)</li>
                <li>AR6 Working Group 1 Chapter 7 Supplementary Material: The Earth's Energy Budget, Climate Feedbacks and Climate Sensitivity (2021)</li>
            </ul>
        <h4>Contributing Author & Chapter Scientist</h4>    
            <ul>
                <li>AR6 Working Group 1 Chapter 7 (2021)</li>
                <li>Special Report on 1.5°C Chapter 2 (2018)</li>
            </ul>
        <h4>Contributing Author</h4>
            <ul>
                <li>AR6 Working Group 3 Chapter 3 (2022)</li>
                <li>AR6 Working Group 1 Summary for Policymakers (2021)</li>
                <li>AR6 Working Group 1 Chapter 2 (2021)</li>
                <li>AR6 Working Group 1 Chapter 4 (2021)</li>
                <li>AR6 Working Group 1 Chapter 6 (2021)</li>
                <li>Special Report on 1.5°C Chapter 1 (2018)</li>
            </ul>

    <h4>Invited talks</h4>
    <ul>
        <li>28/06/2024: European Space Agency <a href="https://nikal.eventsair.com/truths-workshop/programme">TRUTHS mission kickoff</a>. Harwell, Oxfordshire</li>
        <li>24/01/2024: World Climate Research Programme <a href="https://www.wcrp-climate.org/WCRP-publications/2024/TCRE-Workshop-Report-c.pdf">Transient Climate Response to
            cumulative carbon Emissions (TCRE)
            and Zero Emissions Commitment (ZEC)
            Workshop</a>. Bristol</li>
        <li>23/11/2023: Sufficiency Lab <a href="https://www.thesufficiencylab.org/events/2023-11-23-modelling-workshop/">Workshop to identify the ingredients and methodology for modelling sufficiency</a>. Sciences Po, Paris</li>
    </ul>
    <!-- <h3>Conference presentations</h3>
    <ul>
        <li>16/08/2024: Econometric Models of Climate Change (EMCC-VIII). King's College, Cambridge</li>
    </ul> -->
    <h3>Reports</h3>
    <ul>
        <li><a href="https://climate.leeds.ac.uk/wp-content/uploads/2024/06/Targets-for-effective-climate-mitigation-governance-in-the-UK-report-by-CEU.pdf">Targets for effective climate mitigation governance in the UK</a>. Climate Evidence Unit, Priestley International Centre for Climate, Leeds, 2024.</li>
        <li><a href="https://www.lse.ac.uk/granthaminstitute/wp-content/uploads/2022/05/What-will-climate-change-cost-the-UK-risks-impacts-mitigation.pdf">What will climate change cost the UK?</a> A study of climate risks, impacts and mitigation for the net-zero transition. London School of Economics, London, 2022.</li>
        <li><a href="https://www.constrain-eu.org/wp-content/uploads/2021/11/Constrain-Zero-In-3-final.pdf">ZERO IN ON: Near-term warming and our chances of staying within 1.5°C</a>. The CONSTRAIN Project Annual Report, Leeds, 2021.</li>
        <li><a href="https://www.constrain-eu.org/wp-content/uploads/2020/02/CONSTRAIN-Zero-In-On-The-Remaining-Carbon-Budget-Decadal-Warming-Rates.pdf">ZERO IN ON the remaining carbon budget and decadal warming rates</a>. The CONSTRAIN Project Annual Report, Leeds, 2019.</li>
    </ul>
    <h3>Peer-reviewed journal articles</h3>
    <ol class="pubs" style="counter-reset: customlistcounter {% raw %}{{ items.length + 1 }}{% endraw %}">
        <h4>2024</h4>
    
        <li>Smith, C. and Mathison, C., 2024. How much methane removal is required to avoid overshooting 1.5&deg;C? Environmental Research Letters, 19, 074044, DOI <a href="https://doi.org/10.1088/1748-9326/ad5853">10.1088/1748-9326/ad5853</a> (open access)</li>
    
        <li>Myhre, G., Byrom, R.E., Andrews, T., Forster, P.M., and Smith, C.J., 2024. Efficacy of climate forcings in transient CMIP6 simulations. Frontiers in Climate, 6, DOI <a href="https://doi.org/10.3389/fclim.2024.1397358">10.3389/fclim.2024.1397358</a> (open access)</li>
    
        <li>Forster, P.M., Smith, C., Walsh, T., Lamb, W.F., Lamboll, R., Hall, B., Hauser, M., Ribes, A., Rosen, D., Gillett, N.P., Palmer, M.D., Rogelj, J., von Schuckmann, K., Trewin, B., Allen, M., Andrew, R., Betts, R.A., Borger, A., Boyer, T., Broersma, J.A., Buontempo, C., Burgess, S., Cagnazzo, C., Cheng, L., Friedlingstein, P., Gettelman, A., Gütschow, J., Ishii, M., Jenkins, S., Lan, X., Morice, C., Mühle, J., Kadow, C., Kennedy, J., Killick, R.E., Krummel, P.B., Minx, J.C., Myhre, G., Naik, V., Peters, G.P., Pirani, A., Pongratz, J., Schleussner, C.-F., Seneviratne, S.I., Szopa, S., Thorne, P., Kovilakam, M.V.M., Majamäki, E., Jalkanen, J.-P., van Marle, M., Hoesly, R.M., Rohde, R., Schumacher, D., van der Werf, G., Vose, R., Zickfeld, K., Zhang, X., Masson-Delmotte, V., and Zhai, P., 2024. Indicators of Global Climate Change 2023: annual update of key indicators of the state of the climate system and human influence, Earth System Science Data, 16, 2625–2658, <a href="https://doi.org/10.5194/essd-16-2625-2024">10.5194/essd-16-2625-2024</a> (open access)</li>
    
        <li>Meinshausen, M., Schleussner, C.-F., Beyer, K., Bodeker, G., Boucher, O., Canadell, J.G., Daniel, J.S., Diongue-Niang, A., Driouech, F., Fischer, E., Forster, P., Grose, M., Hansen, G., Hausfather, Z., Ilyina, T., Kikstra, J.S., Kimutai, J., King, A.D., Lee, J.-Y., Lennard, C., Lissner, T., Nauels, A., Peters, G.P., Pirani, A., Plattner, G.-K., Pörtner, H., Rogelj, J., Rojas, M., Roy, J., Samset, B.H., Sanderson, B.M., Séférian, R., Seneviratne, S., Smith, C.J., Szopa, S., Thomas, A., Urge-Vorsatz, D., Velders, G.J.M., Yokohata, T., Ziehn, T., and Nicholls, Z., 2024. A perspective on the next generation of Earth system model scenarios: towards representative emission pathways (REPs), Geoscientific Model Development, 17, 4533–4559, <a href="https://doi.org/10.5194/gmd-17-4533-2024">10.5194/gmd-17-4533-2024</a> (open access)</li>
    
        <li>Fiedler, S., Naik, V., O'Connor, F.M., Smith, C.J., Griffiths, P., Kramer, R.J., Takemura, T., Allen, R.J., Im, U., Kasoar, M., Modak, A., Turnock, S., Voulgarakis, A., Watson-Parris, D., Westervelt, D. M., Wilcox, L. J., Zhao, A., Collins, W. J., Schulz, M., Myhre, G., and Forster, P. M., 2024. Interactions between atmospheric composition and climate change - progress in understanding and future opportunities from AerChemMIP, PDRMIP, and RFMIP, Geoscientific Model Development, 17, 2387-2417, DOI <a href="https://doi.org/10.5194/gmd-17-2387-2024">10.5194/gmd-17-2387-2024</a> (open access)</li>
    
        <li>Weber, J.M., King, J.A., Abraham, N.L., Grosvenor, D.P., Smith, C.J., Shin, Y.M., Lawrence, P., Roe, S., Beerling, D.J., and Val Martin, M., 2024. Chemistry-albedo feedbacks offset up to a third of forestation's CO<sub>2</sub> removal benefits, Science, 383(6685), 860-864, DOI <a href="https://doi.org/10.1126/science.adg6196">10.1126/science.adg6196</a></li>
    
        <h4>2023</h4>
    
        <li>Kopp, R.E., Garner, G.G., Hermans, T.H.J., Jha, S., Kumar, P., Reedy, A., Slangen, A.B.A., Turilli, M., Edwards, T.L., Gregory, J.M., Koubbe, G., Levermann, A., Merzky, A., Nowicki, S., Palmer, M.D., and Smith, C., 2023: The Framework for Assessing Changes To Sea-level (FACTS) v1.0: a platform for characterizing parametric and structural uncertainty in future global, relative, and extreme sea-level change, Geoscientific Model Development, 16, 7461–7489, DOI <a href="https://doi.org/10.5194/gmd-16-7461-2023">10.5194/gmd-16-7461-2023</a> (open access)</li>
    
        <li>Lamboll, R., Nicholls, Z.R.J., Smith, C.J., Kikstra, J.S., Byers, E., and Rogelj, J., 2023. Assessing the size and uncertainty of remaining carbon budgets. Nature Climate Change, DOI <a href="https://doi.org/10.1038/s41558-023-01848-5">10.1038/s41558-023-01848-5</a> (open access)</li>
    
        <li>Linke, O., Quaas, J., Baumer, F., Becker, S., Chylik, J., Dahlke, S., Ehrlich, A., Handorf, D., Jacobi, C., Kalesse-Los, H., Lelli, L., Mehrdad, S., Neggers, R.A.J., Riebold, J., Saavedra Garfias, P., Schnierstein, N., Shupe, M.D., Smith, C., Spreen, G., Verneuil, B., Vinjamuri, K.S., Vountas, M., and Wendisch, M., 2023. Constraints on simulated past Arctic amplification and lapse rate feedback from observations, Atmospheric Chemistry and Physics, 23, 9963–9992, DOI <a href="https://doi.org/10.5194/acp-23-9963-2023">10.5194/acp-23-9963-2023</a> (open access)</li>
    
        <li>Smith, C.J., Al Khourdajie, A., Yang, P., and Folini, D., 2023. Climate uncertainty impacts on optimal mitigation pathways and social cost of carbon, Environmental Research Letters, 18(9), 094024, DOI <a href="https://doi.org/10.1088/1748-9326/acedc6">10.1088/1748-9326/acedc6</a> (open access)</li>
    
        <li>Zelinka, M.D., Smith, C.J., Qin, Y., and Taylor, K.E., 2023. Comparison of methods to estimate aerosol effective radiative forcings in climate models, Atmospheric Chemistry and Physics, 23, 8879-8898, DOI <a href="https://doi.org/10.5194/acp-23-8879-2023">10.5194/acp-23-8879-2023</a> (open access)</li>
    
        <li>Fiedler, S., van Noije, T., Smith, C.J., Boucher, O., Dufresne, J.-L., Kirkevåg A., Olivié, D., Pinto, R., Reerink, T., Sima, A., and Schulz, M., 2023. Historical Changes and Reasons for Model Differences in Anthropogenic Aerosol Forcing in CMIP6. Geophysical Research Letters, 50(15), e2023GL10484, DOI <a href="https://doi.org/10.1029/2023GL104848">10.1029/2023GL104848</a> (open access)</li>
    
        <li>Forster, P.M., Smith, C.J., Walsh, T., Lamb, W.F., Lamboll, R., Hauser, M., Ribes, A., Rosen, D., Gillett, N., Palmer, M.D., Rogelj, J., von Schuckmann, K., Seneviratne, S.I., Trewin, B., Zhang, X., Allen, M., Andrew, R., Birt, A., Borger, A., Boyer, T., Broersma, J. A., Cheng, L., Dentener, F., Friedlingstein, P., Gutiérrez, J.M., Gütschow, J., Hall, B., Ishii, M., Jenkins, S., Lan, X., Lee, J.-Y., Morice, C., Kadow, C., Kennedy, J., Killick, R., Minx, J.C., Naik, V., Peters, G.P., Pirani, A., Pongratz, J., Schleussner, C.-F., Szopa, S., Thorne, P., Rohde, R., Rojas Corradi, M., Schumacher, D., Vose, R., Zickfeld, K., Masson-Delmotte, V., and Zhai, P., 2023. Indicators of Global Climate Change 2022: annual update of large-scale indicators of the state of the climate system and human influence. Earth System Science Data, 15, 2295–2327, DOI <a href="https://doi.org/10.5194/essd-15-2295-2023">10.5194/essd-15-2295-2023</a> (open access)</li>
    
        <li> Cael, B.B., Bloch-Johnson, J., Ceppi, P., Fredriksen, H.-B., Goodwin, P., Gregory, J.M., Smith, C.J., Williams, R.G., 2023. Energy budget diagnosis of changing climate feedback. Science Advances, 9(16), eadf9302, DOI <a href="https://www.science.org/doi/10.1126/sciadv.adf9302">10.1126/sciadv.adf9302</a> (open access)</li>
    
        <li> Allen, R.J., Zhao, X., Randles, C.A., Kramer, R.J., Samset, B.H., Smith, C.J., 2023. Surface warming and wetting due to methane’s long-wave radiative effects muted by short-wave absorption. Nature Geoscience, DOI <a href="https://doi.org/10.1038/s41561-023-01144-z">10.1038/s41561-023-01144-z</a> (open access)</li>
    
        <li> Fredriksen, H.-B., Smith, C.J., Modak, A., Rugenstein, M., 2023. 21st Century Scenario Forcing Increases More for CMIP6 Than CMIP5 Models. Geophysical Research Letters, 50, e2023GL102916, DOI <a href="https://doi.org/10.1029/2023GL102916">10.1029/2023GL102916</a> (open access)</li>
    
        <li> Sigmond, M., Polvani, L.M., Fyfe, J.C., Smith, C.J., Cole, J.N.S., England, M.R., 2023. Large contribution of ozone-depleting substances to global and Arctic warming in the late 20th century. Geophysical Research Letters, 50, e2022GL100563, DOI <a href="https://doi.org/10.1029/2022GL100563">10.1029/2022GL100563</a> (open access)</li>
    
        <li> Rainard, M., Smith, C.J., Pachauri, S., 2023. Gender equality and climate change mitigation: Are women a secret weapon? Frontiers in Climate, 5, DOI <a href="https://doi.org/10.3389/fclim.2023.946712">10.3389/fclim.2023.946712</a> (open access)</li>
    
        <li> Floess, E., Grieshop, A., Puzzolo, E., Pope, D., Leach, N., Smith, C.J., Gill-Wiehl, A., Landesman, K., Bailis, R., 2023. Scaling up gas and electric cooking in low- and middle-income countries: climate threat or mitigation strategy with co-benefits? Environmental Research Letters, 18(3) 034010, DOI <a href="https://doi.org/10.1088/1748-9326/acb501">10.1088/1748-9326/acb501</a> (open access)</li>
    
        <li> Ganti, G., Gidden, M.J., Smith, C.J., Fyson, C., Nauels, A., Riahi, K., Schleußner, C.F., 2023. Uncompensated claims to fair emission space risk putting Paris Agreement goals out of reach. Environmental Research Letters, 18(2), 024040, DOI <a href="https://doi.org/10.1088/1748-9326/acb502">10.1088/1748-9326/acb502</a> (open access)</li>
    
        <li> Jenkins, S., Smith, C., Allen, M., Grainger, D., 2023. Tonga eruption increases chance of temporary surface temperature anomaly above 1.5 °C. Nature Climate Change, 13, 127-129, DOI <a href="https://doi.org/10.1038/s41558-022-01568-2">10.1038/s41558-022-01568-2</a> | <a href="contact.htm">Contact me for full text</a></li>
    
        <h4>2022</h4>
    
        <li> Kikstra, J.S., Nicholls, Z.R.J., Smith, C.J., Lewis, J., Lamboll, R.D., Byers, E., Sandstad, M., Meinshausen, M., Gidden, M.J., Rogelj, J., Kriegler, E., Peters, G.P., Fuglestvedt, J.S., Skeie, R.B., Samset, B.H., Wienpahl, L., van Vuuren, D.P., van der Wijst, K.-I., Al Khourdajie, A., Forster, P.M., Reisinger, A., Schaeffer, R., Riahi, K., 2022. The IPCC Sixth Assessment Report WGIII climate assessment of mitigation pathways: from emissions to global temperatures. Geoscientific Model Development, 15, 9075-9109, DOI <a href="https://doi.org/10.5194/gmd-15-9075-2022">10.5194/gmd-15-9075-2022</a> (open access)</li>
    
        <li>Smith, C.J. and Gasser, T., 2022. Modeling the non-CO<sub>2</sub> contribution to climate change. One Earth, 5(12) 1330-1335, DOI <a href="https://doi.org/10.1016/j.oneear.2022.11.007">10.1016/j.oneear.2022.11.007</a> |  <a href="contact.htm">Contact me for full text</a></li>
    
        <li>Watson-Parris, D. and Smith, C.J., 2022. Large uncertainty in future warming due to aerosol forcing. Nature Climate Change 12 1111-1113. DOI <a href="https://doi.org/10.1038/s41558-022-01516-0">10.1038/s41558-022-01516-0</a> | <a href="contact.htm">Contact me for full text</a></li>
    
        <li>Wiltshire, A., Bernie, D., Gohar, L., Lowe, J., Mathison, C., Smith, C., 2022. Post COP26: does the 1.5°C climate target remain alive? Weather, 77(12) 412-417, DOI <a href="https://doi.org/10.1002/wea.4331">10.1002/wea.4331</a> (open access)</li>
    
        <li>Nicholls, Z., Meinshausen, M., Lewis, J., Smith, C.J., Forster, P.M., Fuglestvedt, J.S., Rogelj, J., Kikstra, J.S., Riahi, K., Byers, E., 2022. Changes in IPCC scenario assessment emulators between SR1.5 and AR6 unraveled. Geophysical Research Letters, 49, e2022GL099788. DOI <a href="https://doi.org/10.1029/2022GL099788">10.1029/2022GL099788</a> (open access)</li>
    
        <li>Quaas, J., Jia, H., Smith, C., Albright, A.L., Aas, W., Bellouin, N., Boucher, O., Doutriaux-Boucher, M., Forster, P.M., Grosvenor, D., Jenkins, S., Klimont, Z., Loeb, N.G., Ma, X., Naik, V., Paulot, F., Stier, P., Wild, M., Myhre, G., Schulz, M., 2022. Robust evidence for reversal of the trend in aerosol effective climate forcing. Atmospheric Chemistry and Physics, 22, 12221–12239. DOI <a href="https://doi.org/10.5194/acp-22-12221-2022">10.5194/acp-22-12221-2022</a> (open access)</li>
    
        <li>Brecha, R.J., Ganti, G., Lamboll, R.D., Nicholls, Z., Hare, B., Lewis, J., Meinshausen, M., Schaeffer, M., Smith, C.J., Gidden, M.J., 2022. Institutional decarbonization scenarios evaluated against the Paris Agreement 1.5°C goal. Nature Communications, 13, 4304. DOI <a href="https://doi.org/10.1038/s41467-022-31734-1">10.1038/s41467-022-31734-1</a> (open access)</li>
    
        <li>Purohit, P., Höglund-Isaksson, L., Borgford-Parnell, N., Klimont, Z., Smith, C.J., 2022. The key role of propane in a sustainable cooling sector. PNAS, 119 (34) e2206131119. DOI <a href="https://doi.org/10.1073/pnas.2206131119">10.1073/pnas.2206131119</a> (open access)</li>
    
        <li>Jackson, L.S., Maycock, A.C., Andrews, T., Fredriksen, H.-B., Smith, C.J., Forster, P.M., 2022. Errors in simple climate model emulations of past and future global temperature change. Geophysical Research Letters, 49, e2022GL098808. DOI <a href="https://doi.org/10.1029/2022GL098808">10.1029/2022GL098808</a> (open access)</li>
    
        <li>Dvorak, M.T., Armour, K.C., Frierson, D.M.W., Proistosescu, C., Baker, M.B., Smith, C.J., 2022. Estimating the timing of geophysical commitment to 1.5 and 2.0°C of global warming. Nature Climate Change, DOI <a href="https://doi.org/10.1038/s41558-022-01372-y">doi.org/10.1038/s41558-022-01372-y</a></li>
    
        <li>Myhre, G., Samset, B., Forster, P.M., Hodnebrog, Ø., Sandstad, M., Mohr, C.W., Sillmann, J., Stjern, C., Andrews, T., Boucher, O., Faluvegi, G., Iversen, T., Lamarque, J.-F., Kasoar, M., Kirkevåg, A., Kramer, R., Liu, L., Mülmenstädt, J., Olivié, D., Quaas, J., Richardson, T.B., Shawki, D., Shindell, D., Smith, C., Stier, P., Tang, T., Takemura, T., Voulgarakis, A., Watson-Parris, D., 2022. Scientific data from precipitation driver response model intercomparison project. Scientific Data, 9 (123). DOI <a href="https://doi.org/10.1038/s41597-022-01194-9">10.1038/s41597-022-01194-9</a> (open access)</li>
        
        <li>Fewster, R.E., Morris, P.J., Ivanovic, R., Swindles, G.T., Peregon, A.M., Smith, C.J., 2022. Imminent loss of climate space for permafrost peatlands in Europe and Western Siberia. Nature Climate Change, DOI <a href="https://doi.org/10.1038/s41558-022-01296-7">10.1038/s41558-022-01296-7</a></li>
    
        <li>Mitchell, D.M., Stone, E.J., Andrews, O.D., Bamber, J.L., Bingham, R.J., Browse, J., Henry, M., MacLeod, D.M., Morten, J.M., Sauter, C.A., Smith, C.J., Thomas, J., Thomson, S.I., and the Bristol CMIP6 Data Hackathon Participants, 2022. The Bristol CMIP6 Data Hackathon. Weather, DOI <a href="https://rmets.onlinelibrary.wiley.com/doi/10.1002/wea.4161">10.1002/wea.4161</a> (open access)</li>
    
        <li>Scott, K., Smith, C.J., Lowe, J.A., and Garcia-Carreras, L., 2022. Demand vs supply-side approaches to mitigation: What final energy demand assumptions are made to meet 1.5 and 2 °C targets? Global Environmental Change, DOI <a href="https://doi.org/10.1016/j.gloenvcha.2021.102448">10.1016/j.gloenvcha.2021.102448</a> (open access)</li>
    
        <li>Lyon, C., Saupe, E.E., Smith, C.J., Hill, D.J., Beckerman, A.P., Stringer, L.C., Marchant, R., McKay, J., Burke, A., O'Higgins, P., Dunhill, A.M., Allen, B.J., Riel-Salvatore, J., and Aze, T., 2022. Climate change research and action must look beyond 2100, Global Change Biology, 28, 349-361, DOI <a href="https://doi.org/10.1111/gcb.15871">10.1111/gcb.15871</a> (open access)</li>
    
        <h4>2021</h4>
    
        <li>Dong, Y., Armour, K.C., Proistosescu, C., Andrews, T., Battisti, D.S., Forster, P.M., Paynter, D., Smith, C.J., and Shiogama, H., 2021. Biased Estimates of Equilibrium Climate Sensitivity and Transient Climate Response Derived From Historical CMIP6 Simulations. Geophysical Research Letters, 48, e2021GL095778, DOI <a href="https://doi.org/10.1029/2021GL095778">10.1029/2021GL095778</a></li>
    
        <li>Smith, C.J. and Forster, P.M., 2021. Suppressed Late-20th Century Warming in CMIP6 Models Explained by Forcing and Feedbacks, Geophysical Research Letters, 48 (19), e2021GL094948, DOI <a href="https://doi.org/10.1029/2021GL094948">10.1029/2021GL094948</a> (open access)</li>
    
        <li>Smith, C.J., Harris, G., Palmer, M., Bellouin, N., Myhre, G., Schulz, M., Golaz, J.-C., Ringer, M., Storelvmo, T., Forster, P., 2021. Energy Budget Constraints on the Time History of Aerosol Forcing and Climate Sensitivity, Journal of Geophysical Research Atmospheres, 126, e2020JD033622, DOI <a href="https://doi.org/10.1029/2020JD033622">10.1029/2020JD033622</a> (open access). <b>Note announcement above.</b></li>
    
        <li>Huppmann, D., Gidden, M.J., Nicholls, Z., Hörsch, J., Burandt, T., Fricko, O., Byers, E., Kikstra, J., Brinkerink, M., Budzinski, M., Maczek, F., Zwickl-Bernhard, S., Welder, L., Francisco Álvarez Quispe, E., Smith, C.J., 2021. Analysis and visualisation of integrated assessment and macro-energy scenarios. Open Research Europe 1, 74. DOI <a href="https://doi.org/10.12688/openreseurope.13633.2">10.12688/openreseurope.13633.2</a> (open access)</li>
    
        <li>Nicholls, Z., Meinshausen, M., Lewis, J., Rojas Corradi, M., Dorheim, K., Gasser, T., Gieseke, R., Hope, A.P., Leach, N.J., McBride, L.A., Quilcaille, Y., Rogelj, J., Salawitch, R.J., Samset, B.H., Sandstad, M., Shiklomanov, A., Skeie, R.B., Smith, C.J., Smith, S.J., Su, X., Tsutsui, J., Vega-Westhoff, B, Woodard, D.L., 2021. Reduced Complexity Model Intercomparison Project Phase 2: Synthesising Earth system knowledge for probabilistic climate projections. Earth's Future, 9, e2020EF001900, DOI <a href="https://doi.org/10.1029/2020EF001900">10.1029/2020EF001900</a> (open access)</li>
    
        <li>Leach, N. J., Jenkins, S., Nicholls, Z., Smith, C. J., Lynch, J., Cain, M., Walsh, T., Wu, B., Tsutsui, J., and Allen, M. R., 2021. FaIRv2.0.0: a generalised impulse-response model for climate uncertainty and future scenario exploration, Geoscientific Model Development, 14, 3007-3036, DOI <a href="https://doi.org/10.5194/gmd-14-3007-2021">10.5194/gmd-14-3007-2021</a> (open access)</li>
    
        <li>Edwards, T.L., Nowicki, S., Marzeion, B. et al., (84 authors) 2021. Projected land ice contributions to twenty-first-century sea level rise. Nature 593, 74–82. DOI <a href="https://doi.org/10.1038/s41586-021-03302-y">10.1038/s41586-021-03302-y</a></li>
    
        <li>Kramer, R.J., He, H., Soden, B.J., Oreopoulos, L., Myhre, G., Forster, P.M., Smith, C.J., 2021. Observational evidence of increasing global radiative forcing. Geophysical Research Letters, 48, e2020GL091585. DOI <a href="https://doi.org/10.1029/2020GL091585">10.1029/2020GL091585</a></li>
    
        <li>Maycock A.C., Smith C.J., Rap A., Rutherford O., 2021. On the structure of instantaneous radiative forcing kernels for greenhouse gases. Journal of the Atmospheric Sciences 78, 3, 949-965, DOI <a href="https://doi.org/10.1175/JAS-D-19-0267.1">https://doi.org/10.1175/JAS-D-19-0267.1</a></li>
    
        <li>Dow W., Maycock A.C., Lofverstrom M., Smith C.J., 2021. The effect of anthropogenic aerosols on the Aleutian Low. Journal of Climate 34, 5, 1725-1741, DOI <a href="https://doi.org/10.1175/JCLI-D-20-0423.1">10.1175/JCLI-D-20-0423.1</a></li>
    
        <li>Andrews, T., Smith, C. J., Myhre, G., Forster, P. M., Chadwick, R., Ackerley, D., 2021. Effective radiative forcing in a GCM with fixed surface temperatures. Journal of Geophysical Research: Atmospheres, 126, e2020JD033880. DOI <a href="https://doi.org/10.1029/2020JD033880">10.1029/2020JD033880</a></li>
    
        <li>Thornhill, G., Collins, W., Olivié, D., Archibald, A., Bauer, S., Checa-Garcia, R., Fiedler, S., Folberth, G., Gjermundsen, A., Horowitz, L., Lamarque, J.-F., Michou, M., Mulcahy, J., Nabat, P., Naik, V., O'Connor, F. M., Paulot, F., Schulz, M., Scott, C. E., Seferian, R., Smith, C., Takemura, T., Tilmes, S., and Weber, J., 2021. Climate-driven chemistry and aerosol feedbacks in CMIP6 Earth system models, Atmos Chem Phys 21, 1105-1126, DOI <a href="https://doi.org/10.5194/acp-21-1105-2021">10.5194/acp-21-1105-2021</a> (open access)</li>
    
        <li>Thornhill, G.D., Collins, W.J., Kramer, R.J., Olivié, D., Skeie, R.B., O'Connor, F.M., Abraham, N.L., Checa-Garcia, R., Bauer, S.E., Deushi, M., Emmons, L.K., Forster, P.M., Horowitz, L.W., Johnson, B., Keeble, J., Lamarque, J.-F., Michou, M., Mills, M.J., Mulcahy, J.P., Myhre, G., Nabat, P., Naik, V., Oshima, N., Schulz, M., Smith, C.J., Takemura, T., Tilmes, S., Wu, T., Zeng, G., and Zhang, J., 2021. Effective radiative forcing from emissions of reactive gases and aerosols – a multi-model comparison. Atmos Chem Phys, 21, 853-874, DOI <a href="https://doi.org/10.5194/acp-21-853-2021">10.5194/acp-21-853-2021 </a> (open access)</li>
    
        <li>Matthews, H.D., Tokarska, K.B., Rogelj, J., Smith, C.J., MacDougall, A.H., Haustein, K., Mengis, N., Sippel, S., Forster, P.M., and Knutti, R., 2021. An integrated approach to quantifying uncertainties in the remaining carbon budget. Commun Earth Environ 2, 7, DOI <a href="https://doi.org/10.1038/s43247-020-00064-9">10.1038/s43247-020-00064-9</a> (open access)</li>
    
        <h4>2020</h4>
    
        <li>McKenna, C.M., Maycock, A.C., Forster, P.M., Smith, C.J., and Tokarska, K.B., 2020. Stringent mitigation substantially reduces risk of unprecedented near-term warming rates. Nature Climate Change, DOI <a href="https://doi.org/10.1038/s41558-020-00957-9">10.1038/s41558-020-00957-9</a>
    
        <li>Hodnebrog Ø., Myhre G., Kramer R.J., Shine K.P., Andrews T., Faluvegi G., Kasoar M., Kirkevåg A., Lamarque J.-F., Mülmenstädt J., Olivié D., Samset B.H., Shindell D., Smith C.J., Takemura T., and Voulgarakis A. 2020. The effect of rapid adjustments to halocarbons and N2O on radiative forcing, npj Climate and Atmospheric Science. 3(1), DOI <a href="https://doi.org/10.1038/s41612-020-00150-x">10.1038/s41612-020-00150-x</a> (open access)</li>
    
        <li>Nicholls Z.R.J., Meinshausen M., Lewis J., Gieseke R., Dommenget D., Dorheim K., Fan C.-S., Fuglestvedt J.S., Gasser T., Golüke U., Goodwin P., Hartin C., Hope A.P., Kriegler E., Leach N.J., Marchegiani D., McBride L.A., Quilcaille Y., Rogelj J., Salawitch R.J., Samset B.H., Sandstad M., Shiklomanov A.N., Skeie R.B., Smith C.J., Smith S., Tanaka K., Tsutsui J., and Xie Z. 2020. Reduced Complexity Model Intercomparison Project Phase 1: introduction and evaluation of global-mean temperature response, Geoscientific Model Development, 13(11), 5175-5190, DOI <a href="https://doi.org/10.5194/gmd-13-5175-2020">10.5194/gmd-13-5175-2020</a> (open access)</li>
    
        <li>Marshall, L. R., Smith, C. J., Forster, P. M., Aubry, T. J., Andrews, T., and Schmidt, A., 2020. Large Variations in Volcanic Aerosol Forcing Efficiency Due to Eruption Source Parameters and Rapid Adjustments, Geophysical Research Letters, 47, e2020GL090241, DOI <a href ="https://doi.org/10.1029/2020GL090241">10.1029/2020GL090241</a> (open access)</li>
    
        <li>Smith, C. J., Kramer, R. J., and Sima, A., 2020. The HadGEM3-GA7.1 radiative kernel: the importance of a well-resolved stratosphere, Earth System Science Data, 12, 2157-2168, DOI <a href="https://doi.org/10.5194/essd-12-2157-2020">10.5194/essd-12-2157-2020</a> (open access)</li>
    
        <li>Smith, C. J., Kramer, R. J., Myhre, G., Alterskjær, K., Collins, W., Sima, A., Boucher, O., Dufresne, J.-L., Nabat, P., Michou, M., Yukimoto, S., Cole, J., Paynter, D., Shiogama, H., O'Connor, F. M., Robertson, E., Wiltshire, A., Andrews, T., Hannay, C., Miller, R., Nazarenko, L., Kirkevåg, A., Olivié, D., Fiedler, S., Lewinschal, A., Mackallah, C., Dix, M., Pincus, R., and Forster, P. M., 2020. Effective radiative forcing and adjustments in CMIP6 models, Atmospheric Chemistry and Physics, 20, 9591-9618, DOI <a href="https://doi.org/10.5194/acp-20-9591-2020">10.5194/acp-20-9591-2020</a> (open access)</li>
    
        <li>Forster, P. M., Forster, H. I., Evans, M. J., Gidden, M. J., Jones, C. D., Keller, C. A., Lamboll, R. D., Le Quéré, C., Rogelj, J., Rosen, D., Schleussner,  C. F., Richardson, T. B., Smith, C. J. and Turnock, S. T.,  2020. Current and future global climate impacts resulting from COVID-19. Nature Climate Change, DOI <a href="https://doi.org/10.1038/s41558-020-0883-0">10.1038/s41558-020-0883-0</a></li>
    
        <li>Bellouin, N., Davies, W., Shine, K. P., Quaas, J., Mülmenstädt, J., Forster, P. M., Smith, C., Lee, L., Regayre, L., Brasseur, G., Sudarchikova, N., Bouarar, I., Boucher, O., and Myhre, G., 2020. Radiative forcing of climate change from the Copernicus reanalysis of atmospheric composition, Earth System Science Data, 12, DOI <a href="https://doi.org/10.5194/essd-12-1649-2020">10.5194/essd-12-1649-2020</a> (open access)</li>
    
        <li>Dittus, A., Hawkins, E., Wilcox, L.J., Sutton, R.T., Smith, C.J., Andrews, M.B., and Forster, P.M. 2020. Sensitivity of Historical Climate Simulations to Uncertain Aerosol Forcing., 2020. Geophysical Research Letters, 47, DOI <a href="https://doi.org/10.1029/2019GL085806">10.1029/2019GL085806</a> (open access)</li>
    
        <li>Watson-Parris, D., Bellouin, N., Deaconu, L., Schutgens, N., Yoshioka, M., Regayre, L. A., Pringle, K. J., Johnson, J. S., Smith, C. J., Carslaw, K. S. and Stier, P., 2020. Constraining uncertainty in aerosol direct forcing, Geophysical Research Letters, 47, <a href="http://dx.doi.org/10.1029/2020GL087141">10.1029/2020GL087141</a></li>
    
        <li>Tokarska, K. B., Stolpe, M. B., Sippel, S., Fischer, E. M., Smith, C. J., Lehner, F. and Knutti, R., 2020. Past warming trend constrains future warming in CMIP6 models, Science Advances <a href="https://doi.org/10.1126/sciadv.aaz9549">10.1126/sciadv.aaz9549</a> (open access)</li>
    
        <li>Forster, P. M., Maycock, A. C., McKenna, C. M. and Smith, C. J., 2020. Latest climate models confirm need for urgent mitigation. Nature Climate Change (commentary), <a href="https://doi.org/10.1038/s41558-019-0660-0">10.1038/s41558-019-0660-0</a></li>
    
        <h4>2019</h4>
    
        <li>Richardson, T. B., Forster, P. M., Smith, C. J., Maycock, A. C., Wood, T., Andrews, T., Boucher, O., Faluvegi, G., Fläschner, D., Hodnebrog, Ø., Kasoar, M., Kirkevåg, A., Lamarque, J.-F., Mülmenstädt, J., Myhre, G., Olivié, D., Portmann, R. W., Samset, B. H., Shawki, D., Shindell,  D., Stier, P., Takemura, T., Voulgarakis, A., and Watson-Parris, D. 2019. Efficacy of climate forcings in PDRMIP models. Journal of Geophysical Research: Atmospheres, 124, DOI <a href="https://doi.org/10.1029/2019JD030581">10.1029/2019JD030581</a> (open access)</li>
    
        <li>Denison, S., Forster, P. M. and Smith, C. J., 2019. Guidance on emissions metrics for nationally determined contributions under the Paris Agreement. Environmental Research Letters, 14 (12), DOI <a href="https://doi.org/10.1088/1748-9326/ab4df4">10.1088/1748-9326/ab4df4</a> (open access)</li>
    
        <li>Shindell, D. and Smith, C. J., 2019. Climate and air-quality benefits of a realistic phase-out of fossil fuels. Nature, 573, DOI <a href="https://doi.org/10.1038/s41586-019-1554-z">10.1038/s41586-019-1554-z</a></li>
    
        <li>Rogelj, J., Forster, P. M., Kriegler, E., Smith, C. J. and Séférian, R., 2019. A framework to estimate and track remaining carbon budgets for stringent climate targets. Nature, 571, DOI <a href="https://www.nature.com/articles/s41586-019-1368-z">10.1038/s41586-019-1368-z</a></li>
    
        <li>Stjern, C.W., Lund, M.T., Samset, B.H., Myhre, G., Forster, P.M., Andrews, T., Boucher, O., Faluvegi, G., Fläschner, D., Iversen, T., Kasoar, M., Kharin, V., Kirkevåg A., Lamarque, J.-F., Olivié, D., Richardson, T., Sand, M., Shawki, D., Shindell, D., Smith, C.J., Takemura, T., Voulgarakis, A., 2019. Arctic amplification response to individual climate drivers. Journal of Geophysical Research: Atmospheres, 124, DOI <a href="https://doi.org/10.1029/2018JD029726">10.1029/2018JD029726</a> (open access)</li>
    
        <li>Allen, R.J., Amiri-Farahani, A., Lamarque, J.-F., Smith, C., Shindell, D., Hassan, T., Chung, C.E., 2019. Observationally constrained aerosol–cloud semi-direct effects. npj Climate and Atmospheric Science, 2 (16), DOI <a href="https://www.nature.com/articles/s41612-019-0073-9">10.1038/s41612-019-0073-9</a> (open access)</li>
    
        <li>Tang T., Shindell D., Faluvegi G., Myhre G., Olivié D., Voulgarakis A., Kasoar M., Andrews T., Boucher O., Forster P.M., Hodnebrog Ø., Iversen T., Kirkevåg A., Lamarque J.-F., Richardson T., Samset B.H., Stjern C.W., Takemura T., Smith C., 2019. Comparison of Effective Radiative Forcing Calculations Using Multiple Methods, Drivers, and Models. Journal of Geophysical Research: Atmospheres, 124, DOI <a href="https://doi.org/10.1029/2018JD030188">10.1029/2018JD030188</a></li>
    
        <li>Smith, C.J., Forster, P.M., Allen, M., Fuglestvedt, J., Millar, R.J., Rogelj, J., Zickfeld, K., 2019. Current fossil fuel infrastructure does not yet limit us to 1.5&deg;C warming. Nature Communications, 10, DOI <a href="https://doi.org/10.1038/s41467-018-07999-w">10.1038/s41467-018-07999-w</a> (open access)</li>
    
        <h4>2018</h4>
    
        <li>Myhre G., Kramer R.J., Smith C.J., Hodnebrog Ø., Forster P., Soden B.J., Samset B.H., Stjern C.W., Andrews T., Boucher O., Faluvegi G., Fläschner D., Kasoar M., Kirkevåg A., Lamarque J.-F., Olivié D., Richardson T., Shindell D., Stier P., Takemura T., Voulgarakis A., Watson‐Parris D., 2018. Quantifying the Importance of Rapid Adjustments for Global Precipitation Changes. Geophysical Research Letters, 45, DOI <a href="https://doi.org/10.1029/2018GL079474">10.1029/2018GL079474</a> (open access)</li>
    
        <li>Smith C.J., Kramer R., Myhre G., Forster P.M., Soden B., Andrews T., Boucher O., Faluvegi G., Fläschner D., Hodnebrog Ø., Kasoar M., Kharin V., Kirkevåg A., Lamarque J.-F., Mülmenstädt J., Olivié D., Richardson T., Samset B.H., Shindell D., Stier P., Takemura T., Voulgarakis A., Watson-Parris D., 2018. Understanding Rapid Adjustments to Diverse Forcing Agents. Geophysical Research Letters, 45, DOI <a href="https://doi.org/10.1029/2018GL079826">10.1029/2018GL079826</a> (open access)</li>
    
        <li>Smith, C.J., Forster, P.M., Allen, M., Leach, N., Millar, R.J., Passerello, G.A., Regayre, L.A., 2018. FAIR v1.3: A simple emissions-based impulse response and carbon cycle model. Geosci. Model Dev., DOI <a href="
    https://doi.org/10.5194/gmd-11-2273-2018">10.5194/gmd-11-2273-2018</a> (open access)</li>
        
        <li>Samset B.H., Sand M., Smith C.J., Bauer S.E., Forster P.M., Fuglestvedt J.S., Osprey S., Schleussner C.-F., 2018. Climate Impacts From a Removal of Anthropogenic Aerosol Emissions. Geophys. Res. Lett. DOI <a href="http://onlinelibrary.wiley.com/doi/10.1002/2017GL076079/abstract">10.1002/2017GL076079</a> (open access)</li>
    
        <h4>2017</h4>
    
        <li>Stjern C.W., Samset B.H., Myhre G., Forster P.M., Hodnebrog O., Andrews T., Boucher O., Faluvegi G., Iversen T., Kasoar M., Kharin V., Kirkevag A., Lamarque J.F., Olivie D., Richardson T.B., Shawki D., Shindell D., Smith C.J., Takemura T., Voulgarakis A., 2017. Rapid adjustments cause weak surface temperature response to increased black carbon concentrations. J. Geophys. Res.-Atmos. DOI <a href="http://dx.doi.org/10.1002/2017JD027326">10.1002/2017JD027326</a> (open access)</li>
    
        <li>Smith, C.J., Crook J.A., Crook R., Jackson L.S., Osprey S.M., Forster P.M., 2017. Impacts of Stratospheric Sulfate Geoengineering on Global Solar Photovoltaic and Concentrating Solar Power Resource. J. Appl. Meteorol. Climatol. 56, pp. 1483-1497. DOI <a href="http://dx.doi.org/10.1175/JAMC-D-16-0298.1">10.1175/JAMC-D-16-0298.1</a> (open access)</li>
    
        <li>Smith, C.J., Bright J.M., Crook, R., 2017. Cloud cover effect of clear-sky index distributions and differences between human and automatic cloud observations. Solar Energy 144, pp. 10-21. DOI: <a href="http://dx.doi.org/10.1016/j.solener.2016.12.055">10.1016/j.solener.2016.12.055</a></li>
        
        <li>Kov&aacute;cs T., Feng W., Totterdill A., Plane J.M.C., Dhomse S., G&oacute;mez-Mart&iacute;n J.C., Stiller G.P., Haenel F.J., Smith C., Forster P.M., Garc&iacute;a R.R., Marsh D.R., Chipperfield M.P., 2017. Determination of the atmospheric lifetime and global warming potential of sulfur hexafluoride using a three-dimensional model. Atmospheric Chemistry and Physics 17, pp. 883-898. DOI: <a href="http://dx.doi.org/10.5194/acp-17-883-2017">10.5194/acp-17-883-2017</a> (open access)</li>
    
        <h4>2016</h4>
        
        <li>Forster, P.M., Richardson T., Maycock A.C., Smith C.J., Samset B.H., Myhre G., Andrews T., Pincus R., Schulz M., 2016. Recommendations for diagnosing effective radiative forcing from climate models for CMIP6, J. Geophys. Res. Atmos., 121, pp. 12460-12475, DOI: <a href="http://dx.doi.org/10.1002/2016JD025320">10.1002/2016JD025320</a> (open access)</li>
    
        <li>Totterdill, A., Kov&aacute;cs T., Feng W., Dhomse S., Smith C.J., G&oacute;mez-Mart&iacute;n J.C., Chipperfield M.P., Forster P.M., Plane J.M.C., 2016. Atmospheric lifetimes, infrared absorption spectra, radiative forcings and global warming potentials of NF3 and CF<sub>3</sub>CF<sub>2</sub>Cl (CFC-115), Atmos. Chem. Phys., 16, pp. 11451-11463, DOI: <a href="http://dx.doi.org:/10.5194/acp-16-11451-2016">10.5194/acp-16-11451-2016</a> (open access)</li>
    
        <li>Smith, C.J., Forster P.M., Crook R., 2016. An all-sky radiative transfer method to predict optimal tilt and azimuth angle of a solar collector. Solar Energy 123, pp. 88-101. DOI: <a href="http://dx.doi.org/10.1016/j.solener.2015.11.013">10.1016/j.solener.2015.11.013</a></li>
    
        <h4>earlier</h4>
    
        <li>Bright, J.M., Smith C.J., Taylor P.G., Crook R., 2015. Stochastic generation of synthetic minutely irradiance time
    series derived from mean hourly weather observation data. Solar Energy 115, pp. 229-242. DOI: <a href="http://dx.doi.org/10.1016/j.solener.2015.02.032">10.1016/j.solener.2015.02.032</a></li>
    
        <li>Smith, C.J., Forster P.M., Crook R., 2014. Global analysis of photovoltaic energy output enhanced by phase change material cooling. Applied Energy 126, pp. 21-28. DOI: <a href="http://dx.doi.org/10.1016/j.apenergy.2014.03.083" target="_blank">10.1016/j.apenergy.2014.03.083</a></li>
    </ol>
</BaseLayout>