---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Team";
---
<BaseLayout pageTitle={pageTitle}>
    <h3>Current members</h3>
    <ul>
        <li>
            <a href="https://www.researchgate.net/profile/Chris_Wells17">Dr Chris Wells</a> (U. Leeds) is a postdoc working on the European Commission funded WorldTrans project at the University of Leeds,
        focused on implementing a reduced version of the <a href="/fair">fair model</a>
        into a new, pan-European integrated assessment model called FRIDA. Chris is also using techniques to 
        <a href="https://meetingorganizer.copernicus.org/EGU24/EGU24-1911.html">emulate climate impacts</a> 
        suitable for implementing the effects of climate change directly into integrated assessment models.
        </li>
        <li>
            <a href="https://panorama-dtp.ac.uk/about/current-pgrs/alejandro-romero-prieto-he-him/">Alejandro Romero Prieto</a>
            (U. Leeds, primary PhD supervisee) is a NERC PANORAMA DTP student developing a process-based carbon cycle model for 
            <a href="/fair">fair</a>, and will consider additional Earth System processes such as permafrost and wetlands.
            Alex will use this improved model to attempt to derive an emergent constraint for the 
            <a href="https://www.frontiersin.org/journals/science/articles/10.3389/fsci.2023.1170744/full">zero emissions commitment</a>.
        </li>
        <li>
            <a href="https://climate.leeds.ac.uk/profiles/xinran-liu/">Xinran Liu</a>
            (U. Leeds, PhD co-supervised with Piers Forster) is investigating the feasibilty of net-zero pathways for China.
        </li>
        <li>
            <a href="https://dees.exeter.ac.uk/csm/profile/index.php?web_id=mv393/">Magali Verkerk</a>
            (U. Exeter, PhD co-supervised with Thomas Aubry) is using <a href="/fair">fair</a> to study climatic impacts of volcanic eruptions.
        </li>
        <li>
            Yongyao Liang (U. Leeds) is a MRes student focusing on attribution of the causes of 2023's extremely warm global mean
            surface temperature.
        </li>
    </ul>
    <h3>Previous members</h3>
    <ul>
        <li>
            <a href="https://www.creds.ac.uk/people/mathilde-rainard/">Mathilde Rainard</a> was an MSc student investigating the 
            <a href="https://www.frontiersin.org/journals/climate/articles/10.3389/fclim.2023.946712/full">relationships between country-level gender equity</a> and environmental governance.
        </li>
        <li>
            <a href="https://leaf.leeds.ac.uk/profiles/stephen-denison/">Stephen Denison</a> was an MSc student who <a href="https://iopscience.iop.org/article/10.1088/1748-9326/ab4df4/meta">re-evaluated country-level pledges under the Paris Agreement</a>.
        </li>
    </ul>
</BaseLayout>