---
import { Icon } from 'astro-icon/components'
const props = Astro.props
---

<footer>
  <a href="https://github.com/chrisroadmap"><Icon name="mdi:github" size={48}/></a>
  <a href="https://twitter.com/chrisroadmap"><Icon name="mdi:twitter" size={48}/></a>
  <a href="https://scholar.google.com/citations?user=4P10oOEAAAAJ&hl=en"><Icon name="academicons:google-scholar" size={48}/></a>
  <a href="https://www.strava.com/athletes/1769434"><Icon name="mdi:strava" size={48}/></a>
</footer>


<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>